
/*Brief of Posts*/
.postcontent img {
    border: 1px solid;
    border-color: dimgrey;
    margin-top: 20px;
    margin-bottom: 20px;
    width:1024px;
    height:768px;
}
.postcontent {
    display: inline-block;
    font-family: "RobotoMedium","Trebuchet MS","Lucida Sans Unicode",sans-serif,Arial;
    font-size: 22px;
    margin-top: 20px;
}

    .postcontent p {
        margin: 0;
        color: rgb(78,78,78);
    }
    .postcontent h2 {
        font-family: "RobotoBold","Trebuchet MS","Lucida Sans Unicode",sans-serif,Arial;
        color: black;
        font-size: 35px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .postcontent p.dtime {
        color: darkgray;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .postcontent div.photos {
        display: flex;
        justify-content: center;
    }
